<!-- Shop Detail Start -->
<div class="product-container">
    <a href="#!/cart" class="btn btn-primary btn-lg fixed-button bag-icon">
        <i class="fa-sharp fa-solid fa-bag-shopping"></i>
    </a>
</div>

<div ng-controller="DetailController">
    <div class="container-fluid py-1">
        <div class="pb-1 ml-5">
            <button onclick="history.back()" class="btn chung">
              Back
            </button>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <img class="w-100 h-100" ng-src="{{product.image}}" alt="Image">
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{product.name}}</h3>
                <div class="d-flex mb-3">
                    <div>
                        <rating-star rating-value="rating"></rating-star>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">${{product.price}}</h3>
                <p class="mb-4">{{product.des}}</p>
                <div class="d-flex mb-3">
                    <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
                    <form>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-1" ng-model="size" name="size"
                                value="XS">
                            <label class="custom-control-label" for="size-1">XS</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-2" ng-model="size" name="size"
                                value="S">
                            <label class="custom-control-label" for="size-2">S</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-3" ng-model="size" name="size"
                                value="M">
                            <label class="custom-control-label" for="size-3">M</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-4" ng-model="size" name="size"
                                value="L">
                            <label class="custom-control-label" for="size-4">L</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-5" ng-model="size" name="size"
                                value="XL">
                            <label class="custom-control-label" for="size-5">XL</label>
                        </div>
                    </form>
                </div>
                <div class="d-flex mb-4">
                    <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
                    <form>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-1" name="color">
                            <label class="custom-control-label" for="color-1">Black</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-2" name="color">
                            <label class="custom-control-label" for="color-2">White</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-3" name="color">
                            <label class="custom-control-label" for="color-3">Red</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-4" name="color">
                            <label class="custom-control-label" for="color-4">Blue</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-5" name="color">
                            <label class="custom-control-label" for="color-5">Green</label>
                        </div>
                    </form>
                </div>
                <div class="row w-60">
                    <div class="d-flex align-items-center mb-4 pt-2 col-sm-3">
                        <quantity-buttons quantity="product.quantity"></quantity-buttons>
                    </div>
                </div>
                <button class="btn btn-primary col-12 mb-1" style="background-color: #D19C97;color: white; width:100%;"
                    ng-click="addToCart(product, product.quantity)">add to
                    cart</button>
            </div>
            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
</div>

<button type="button" class="btn cart-product-site" data-toggle="modal" data-target="#myModalcart">
    <i class="fa-sharp fa-solid fa-cart-plus"></i>
</button>

<!-- The Modal -->
<div class="modal fade" id="myModalcart">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="cart ml-3 w-100">
                    <div class="name d-flex align-items-center justify-content-center">YOUR PRODUCTS HERE</div>
                    <div class="listCart row">
                        <div ng-repeat="cartProduct in cart" style="width:fit-content;" class="col-6 mt-2">
                            <div class="d-flex">
                                <img ng-src="{{cartProduct.image}}" alt="" class="img-fluid img-product-site">
                            </div>
                            <div class="row">
                                <div class="d-flex col-6">
                                    {{cartProduct.name}} x {{cartProduct.quantity}}
                                </div>
                                <div class="d-flex col-6">
                                    <button class="btn btn-lg" ng-click="removeItem(cartProduct)"><i
                                            class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
